@{
    ViewBag.Title = "Contact";
}
<aside id="colorlib-hero" class="hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Content/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Contact <strong>Us</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="colorlib-appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="line-block">Make an appointment</h2>
                <p class="line-block"><a href="#" class="btn btn-primary btn-outline btn-cta">Book an Appointment <i class="icon-calendar3"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Contact Information</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-3">
                        <p><span><i class="icon-location"></i></span> str. Puskin 4 <br> or. Chisinau</p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-phone"></i></span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-mail"></i></span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-globe-outline"></i></span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map" class="colorlib-map"></div>