@{
    ViewBag.Title = "Home Page";
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Content/images/img_bg_6.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                            <div class="slider-text-inner">
                                <h1>Dr. <strong> Beatrice Prior</strong></h1>
                                <h2 class="doc-holder">MEDICARE Clinic Welcomes You!</h2>
                                <h2></h2>
                                <p><a href="@(Url.Action("DoctorList", "DoctorProfile"))" class="btn btn-primary btn-lg btn-learn">Make an Appoinment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Content/images/img_bg_6.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                            <div class="slider-text-inner">
                                <h1>Dr. <strong> Mark Bowman</strong></h1>
                                <h2 class="doc-holder">Our clinic inspire hope and improve the general health and well-being of our patients</h2>
                                <p><a href="@(Url.Action("DoctorList", "DoctorProfile"))" class="btn btn-primary btn-lg btn-learn">Make an Appoinment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../content/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                            <div class="slider-text-inner">
                                <h1>Have an Access to <strong>a Health Professional at any time</strong></h1>
                                <p><a href="@(Url.Action("DoctorList", "DoctorProfile"))" class="btn btn-primary btn-lg btn-learn">Make an Appoinment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Content/images/img_bg_2.jpg);">
                <div class="overlay"></div> 
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                            <div class="slider-text-inner">
                                <h2>We will provide you not only with excellent clinical care but also with all other information and services that make accessing top specialist care easy</h2>
                                <p><a href="@(Url.Action("DoctorList", "DoctorProfile"))" class="btn btn-primary btn-lg btn-learn">Make an Appoinment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>