@model IEnumerable<MED.ViewModels.ReviewViewModel>



<div class="col-md-12">
    <div class="comment-area">
        <h2>3 Comments</h2>

      

        <div class="row">
            <div class="comment-wrap">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->
                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Louie Master</strong> <span class="text-muted">commented 5 days ago</span>
                        </div>
                        <div class="panel-body">
                            <p>Very Nice Template.. Any Wordpress Version?</p>
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div>
            </div>
        </div>
    </div>
</div>

